
.display,
.keypad {
    width: 200px;
    margin: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}


.display {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.display-text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}

.keypad {
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    padding: 0;
    border-radius: 0%;
    border: 0;
    width: 45px;
    height: 45px;
}

.row {
    display: flex;
    justify-content: space-between;
}