/*style*/
.display,
.keypad {
    width: 220px;
    margin: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}


.display-text {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    margin: 5px;
}

button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    padding: 0;
    border-radius: 0%;
    border: 0;
    flex: 1 1 40px;
}


/* position */

.display {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.top-part {
display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
    margin: 5px;
}

.bot-part {
    display: flex;
    justify-content: space-between;
    
}

.numbers,
.operators {
    
    height: 200px;
    width: 150px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap-reverse;
    flex-direction: row-reverse;
    align-items: stretch;
    justify-content: space-between;
    gap: 5px
}

.operators {
    width: 45px;
}